* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: aqua;
  padding: 20px;

}

.menu > li {
  display: inline-block;
}

ul {
  list-style-type: none;
}

ul > li > ul {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  background-color: aquamarine;
  z-index: 1;
}

.open:hover > ul {
  display: block;
}

main{
  display: flex;
  flex: 1;
}

aside{
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: gray;

  padding: 10px;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
  background-color: blanchedalmond;
}

article{
  padding: 10px;
}

img{
  height: 250px;
  width: 100%;
}

.card{
  background-color: white;
  border: 1px solid red;
  border-radius: 10px;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
}