* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: aqua;
  padding: 20px;

}

.menu > li {
  display: inline-block;
}

ul {
  list-style-type: none;
}

ul > li > ul {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  background-color: aquamarine;
  z-index: 1;
}

.open:hover > ul {
  display: block;
}

main{
  display: flex;
}

aside{
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: gray;
}

section{
  flex: 2;
  background-color: blanchedalmond;
}